html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

footer{
	width:100%;
}

.primary-blue{
	background-color: royalblue;
	color:white;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: royalblue;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: navy;
}

.column1{
	flex-basis: 25%;
}

.column2{
	flex-basis: 75%;
}

.row{
	display: flex;
}
